<!DOCTYPE html>
<html lang="en">

<head>
  <title>Felicità Paesi</title>
  <link rel="stylesheet" href="../static/css/bommo.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>

<body class="cursore-rusci">
  <div class="titolo">
    <h1>Classifica dell' indice di felicità dei paesi nel mondo</h1>
  </div>
  <div class="intro">
    <p class="testo-normal">
      L'indice di felicità del pianeta "IFP" è una misura del benessere e dell'efficienza ambientale di una nazione, introdotto dalla New Economics Foundation (NEF) nel luglio 2006. Per misurare l'indice di felicità di una nazione si analizzano alcuni valori, tra i quali il prodotto interno lordo, la qualità dei servizi, la percezione della corruzione e di come si vive nel proprio paese, l'aspettativa di vita
    </p>
  </div>
  <div class="grid">


    <!-- <img src="../static/images/1.jpg" alt="bommoooooo" width="400"> -->
    {% for item in home %}
    <div class="row">
        <div class="bandiera">
        <img src="../static/images/{{item[0]}}.jpg" alt="{{item[0]}}" width="200">
        </div>
      <div class="paese">
        <p>{{ item[0] }}</p>


        <a href="/paesi/{{ item[1] }}" class="testo-importante"> {{ item[1] }} </a>
      </div>
        
      
      

    
     
    </div>
      {% endfor %}
    
  </div>



</body>

</html>