    /* !Stile per tutto*/
    body {font-family: 'Inter', sans-serif; font-size: 16px; cursor: url(../images/mano\ del\ gaucho.png), auto;}

    .testo-grande{font-size: 70px; font-weight: 900;}
    .testo-medio{font-size: 40px;}
    .testo-normal{font-size: 20px;}
    .testo-piccolo{font-size: 14px;}
    
    
    p { color: #000; font-weight: 300; margin: 5px 0px;}
    
    .testo-importante{font-size: 20px; font-weight: bold;}
    
    .pulsante {padding: 18px 28px; background: #316bff; color: #fff; display: inline-block; border-radius: 4px;margin: 10px; justify-content: right;}
    h1,h2,h3,h4,h5,h6 {color: #000; padding-bottom: 30px;}
    
    .cursor-not-allowed {
        cursor: not-allowed;
    }

    .paese {border: 1px solid red; display: inline-block; justify-content: center; }

    .grid{ width: 100%; border: 1px solid red;display: block;}

  

    .bandiera {margin: 10px; border: 1px solid red}

    .row_sx{display: flex;width: 100%; border: 1px solid red; justify-content: center; align-items: center;}

    a{text-decoration: none;}

    

    .row{display: block;}


    .stats-div {
      display: none;
      
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        margin-top: 20px;
        transition: opacity 0.3s ease-in-out; /* Aggiungi una transizione per l'opacità */
    }
    

    .freccina {
      width: 10px;
      height: 10px;
      border-left: 2px solid black;
      border-bottom: 2px solid black;
      transform: rotate(-45deg); /* Ruota la freccina a 45 gradi */
      transition: transform 0.3s ease-in-out; /* Aggiungi una transizione animata */
    }
    
    .row.open .freccina {
      transform: rotate(-225deg); /* Ruota la freccina a -135 gradi quando il menù è aperto */
    }

    .row.open .stats-div {
      
      
      }
    

