    /* generico*/
    body {font-family: 'Inter', sans-serif; font-size: 16px;/* cursor: url(../images/mano\ del\ gaucho.png), auto; */}

    .testo-grande{font-size: 70px; font-weight: 900;}
    .testo-medio{font-size: 40px;}
    .testo-normal{font-size: 20px;}
    .testo-piccolo{font-size: 14px;}
    .testo-nome{font-size: 30px;}
    
    
    p { color: #000; font-weight: 300; margin: 5px 0px;}
    
    .testo-importante{font-size: 20px; font-weight: bold;}
    
    .pulsante {padding: 18px 28px; background: #316bff; color: #fff; display: inline-block; border-radius: 4px;margin: 10px; justify-content: right;} /*no*/
    h1,h2,h3,h4,h5,h6 {color: #000; padding-bottom: 30px;}
    
    .cursor-not-allowed {
        cursor: not-allowed;
    }

    .paese {display: inline-block; justify-content: center; padding-left: 5%;}

    .grid{ width: 100%; border: 1px solid rgb(0, 0, 0);display: block;}

  

    .bandiera {
      margin: 10px; 
      margin-left: 9%;

    }

    .row_sx{display: flex;width: 900px; border: 1px solid black; align-items: center; border-radius: 14px;}

    a{text-decoration: none;}

    

    .row{display: block; width: 900px; margin: 0 auto;}     /*uno sopra l'altro*/


    .stats-div {
      display: none;                /*invisibile*/
      
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        transition: opacity 0.3s ease-out; /* ???*/
        border-radius: 14px;
    }
    

    .freccina {
      width: 10px;
      height: 10px;
      border-left: 3px solid black;
      border-bottom: 3px solid black;
      transform: rotate(-45deg); /* ruota freccina verso il basso (menu chiuso) */
      transition: transform 0.3s ease-in-out; /* ???? */
      margin-left: 20px;
      
    }
    
    .row.open .freccina {           /* .open quando js gli mete la classe */
      transform: rotate(-225deg); /* Ruota la freccina a -225 gradi quando row ha open(menù  aperto) */
    }

   /* .row.open .stats-div {
      justify-content: center;
      
      }          */

 th, td {
  border: 1px solid black;
}
    

.row::after {justify-content: center; }

.stats-content { display: flex; justify-content: center;align-items: center;}


.bordo {border-bottom: 1px solid black; width: 100%;display: block;}

